@charset "UTF-8";       /* 한글 깨지지 말라고 붙이는 거래 . . . */

/* 초기화 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    color: #111;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    border: none;
    vertical-align: middle;
}

/* 헤더 */
header{
    width: 960px;
    margin: 0 auto;
}

header .title{
    font-family: "Limelight", sans-serif;
}
.title > h1{
    font-size: 50px;
}
.title > h2{
    font-size: 20px;
    font-weight: normal;
}

header #menus{
    margin-top: 20px;
    overflow: hidden;
}

header nav > ul{
    overflow: hidden;
}
header nav > ul > li{
    float: left;
}
header nav > ul > li > a{
    color: inherit;
    display: block;
    padding: 10px 20px;
}
header nav > ul > li > a:hover{
    background-color: #111;
    color: #fff;
    transition: 0.3s;
}
header nav > ul > li > a:active{
    background-color: #111;
    color: orangered;
}

.top_menu{
    float: right;
}

.main_menu{
    float: left;
}

.top_menu a{
    padding: 2px 5px;
    font-size: 12px;
}

.main_menu a{
    padding: 10px 20px;
    border: 1px solid #111;
    border-right: none;
}
.main_menu li:first-child a{
    border-radius: 20px 0 0 20px;
}
.main_menu li:last-child a{
    border-radius: 0 20px 20px 0;
    border-right: 1px solid #111;
}

/* content */
#content{
    width: 960px;
    margin: 20px auto;
    overflow: hidden;
}
#content .main_section{
    float: left;
    width: 750px;
}
#content .main_aside{
    float: right;
    width: 200px;
}

.main_section .main_article{
    border: 1px solid #111;
    padding: 20px;
    margin-bottom: 10px;
}

/* .main_article h2{

} */
.main_article p{
    color: #5e5e5e;
    font-size: 14px;
}

/* .main_aside {

} */
input{
    display: none;
}
/* .btns{

} */
.btns label{
    float: left;
    display: block;
    width: 100px;
    height: 30px;
    text-align: center;
    border: 1px solid #111;
    line-height: 30px;
    cursor: pointer;
}
.btns input:checked{
    background-color: #111;
    color: #fff;
}

/* .tab_item{

} */
.tab_item li{
    border: 1px solid black;
    padding: 10px;
    overflow: hidden;
    border-top: none;
}
.tab_item figure{
    float: left;
}
.tab_item .text{
    float: right;
}
.tab_item .text strong{
    width: 120px;
}
.tab_item .text p{
    width: 120px;
    font-size: 12px;
    line-height: 1;
    color: #999;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
}

.tab_item:nth-of-type(2) figure{
    float: right;
}
.tab_item:nth-of-type(2) .text{
    float: left;
}

/* 탭 기능 */
input ~ div{
    display: none;
}

input:nth-of-type(1):checked ~ section > label:first-child{
    background-color: #111;
    color: #fff;
}
input:nth-of-type(2):checked ~ section > label:last-child{
    background-color: #111;
    color: #fff;
}

input:nth-of-type(1):checked ~ div:first-of-type{
    display: block;
}
input:nth-of-type(2):checked ~ div:last-of-type{
    display: block;
}

/* footer */
footer{
    width: 960px;
    margin: 0 auto;
    border: 1px solid #111;
    text-align: center;
    padding: 10px 0;
}
footer h3{
    font-family: "Limelight", sans-serif;
    margin-bottom: 5px;
}
footer address{
    font-size: 13px;
    font-style: normal;
}